.container {
  height: 600px;
}

.container-table {
  overflow-x: auto; 
  width: 100%; 
}

.container-add-user {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  gap: 8px;
  justify-content: center;
}

.container-pagination {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  gap: 8px;
  justify-content: center;
}
