.label {
  margin: 0;
  font-size: 16px;
  padding: 4px 0;
}

.input {
  padding: 8px 12px;
  box-sizing: border-box;
  width: 100%;
}

.error {
  margin: 0;
  font-size: 16px;
  padding: 4px 0;
  color: red;
}
